{% extends "dox/bulldog_story.html" %}
{% load markup %}

{% block title %}Acheivement | {{ object.date|date:"l, N j, Y" }} | {% endblock %}

{% block content %}
<div id="primary" class="c630 fl mr10">
<!-- ##### BEGIN PRIMARY COLUMN ##### -->
	<div class="se bgfff mb15">
	<div class="sw">
	
	{% if object %}
		<h2>{{ object.first_name_middle }} {{ object.last_name }}
		</h2>
		
		{% block pubDate %}
		<p class="pubDate">{{ object.date|date:"l, N j, Y" }}</p>
		{% endblock pubDate %}
		
		<div class="horizRule"></div>
		<hr>
		
		<div id="story">
			{{ object.long_description|markdown }}
			
		</div> <!-- /#story -->
		
		{% block pager %}
		<div class="pager">
			<div class="end clear">
				{% with object.get_previous_by_date as the_previous %}
				{% if the_previous.get_absolute_url %}
					<p class="end01">
						Previous: <a href="{{ the_previous.get_absolute_url }}">{{ the_previous.first_name_middle }} {{ the_previous.last_name }}</a>
					</p>
				{% endif %}
				{% endwith %}
				{% with object.get_next_by_date as the_next %}
				{% if the_next.get_absolute_url %}
					<p class="end02">
						Next: <a href="{{ the_next.get_absolute_url }}">{{ the_next.first_name_middle }} {{ the_next.last_name }}</a>
					</p>
				{% endif %}
				{% endwith %}
			</div>
		</div>
		{% endblock %}
		
	{% endif %}
	
	
	</div> <!-- /.sw -->
	</div> <!-- /.se bgfff mb15 -->
<!-- ##### END PRIMARY COLUMN ##### -->
</div> <!-- /#primary /.c630 fl mr10-->
{% endblock %}