{% extends "dox/bulldog.html" %}

{% block content %}
<div id="primary" class="c630 fl mr10">
	<h3>Hometown news</h3>
	<div class="rack s">
	<p>A collection of reader-submitted post-secondary achievements with a Lane County connection. Submit yours <a href="">here</a>.</p>
	<h4>Achievements</h2>
	{% for object in object_list %}
		<div class="lede">{{ object.date|date:"F j, Y" }}</div>
		<p><strong><a href="{% url achievement_detail object.id %}">{{ object.first_name_middle }} {{ object.last_name }}</a></strong> of <strong>{{ object.town }}</strong>, {{ object.short_description }}.</p>
	{% endfor %}
	</div> <!-- /.rack -->
</div> <!-- /#primary /.c630 fl mr10-->
{% endblock %}